{% extends "base.html" %}
{% block title %}Data Visualization{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">{{ data.district }} - Analysis</h2>

    <ul class="nav nav-tabs" id="dataTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="total-tab" data-bs-toggle="tab" href="#total" role="tab">Overall Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gender-tab" data-bs-toggle="tab" href="#gender" role="tab">Gender Analysis</a>
        </li>
    </ul>

    <div class="tab-content" id="dataTabContent">
        <div class="tab-pane fade show active" id="total" role="tabpanel">
            <div class="chart-container">
                <div id="chart_total"></div>
            </div>
            <div class="chart-container ">
                <div id="pie_chart_literate"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="gender" role="tabpanel">
            <div class="chart-container ">
                <div id="pie_chart"></div>
            </div>
            <div class="chart-container">
                <div id="chart_males"></div>
            </div>
            <div class="chart-container">
                <div id="chart_females"></div>
            </div>
        </div>
    </div>
</div>


<script>
    var fig_total = {{ data.fig_json | safe }};
    var fig_males = {{ data.fig_json_males | safe }};
    var fig_females = {{ data.fig_json_females | safe }};
    var fig_pie_chart_gender = {{ data.gender_pie_json | safe}};
    var fig_pie_chart_literate = {{ data.literacy_pie_json | safe}};


    Plotly.newPlot('chart_total', fig_total.data, fig_total.layout);
    Plotly.newPlot('chart_males', fig_males.data, fig_males.layout);
    Plotly.newPlot('chart_females', fig_females.data, fig_females.layout);
    Plotly.newPlot('pie_chart', fig_pie_chart_gender.data, fig_pie_chart_gender.layout)
    Plotly.newPlot('pie_chart_literate', fig_pie_chart_literate.data, fig_pie_chart_literate.layout)

    // Plotly.newPlot('map', map.data, map.layout);
</script>
{% endblock %}